:host {
  display: block;
  height: 100%;

  .esri-legend {
    height: 100%;

    background-color: var(--calcite-ui-foreground-1);
    color: var(--calcite-ui-text-1);
  }

  .esri-legend.esri-component.esri-widget.esri-widget--panel {
    margin: 0;
  }
}
