:host {
  width: 100%;
  header {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 0.5%;
    background-color: #0079c1;
    padding-top: 5px;
    padding-bottom: 5px;

    img {
      width: 2.5%;
      padding-right: 5px;
    }

    a {
      display: flex;
      align-items: center;
      width: 2.5%;
      padding-right: 5px;
      img {
        width: 100%;
        padding-right: 0;
      }
    }

    h1 {
      margin: 0;
      font-size: 18px;
      color: #fff;
      font-weight: 430;
    }
  }
}
