:host {
  display: block;
  .instant-apps-language-translator-item {
    display: flex;
  }

  .instant-apps-language-translator-item__section {
    padding: 10px;
    border-bottom: 1px solid var(--calcite-color-border-1);
    background-color: var(--calcite-color-foreground-2);
    width: 49%;

    .instant-apps-language-translator-item__top-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .instant-apps-language-translator-item__label-container {
      display: flex;
      align-items: center;
    }

    .instant-apps-language-translator-item__label {
      display: inline-block;
      margin-left: 10px;
      font-size: 14px;
      font-weight: var(--calcite-font-weight-medium);
    }

    calcite-input {
      margin-top: 10px;
      margin-left: 55px;
    }
  }

  .instant-apps-language-translator-item__section--last-item {
    border-bottom: none;
  }

  .instant-apps-language-translator-item__section--selected {
    background-color: #f1faff;
  }

  .instant-apps-language-translator-item__section:first-child {
    margin-right: 1%;
  }

  .instant-apps-language-translator-item__ui-location-popover-content {
    display: inline-block;
    padding: 10px;
    max-width: 400px;
  }

  .instant-apps-language-translator-item__ui-location-items {
    display: flex;
  }

  .instant-apps-language-translator-item__ui-location-item {
    display: flex;
    align-items: center;
    font-weight: var(--calcite-font-weight-medium);
    font-size: 14px;
  }

  .instant-apps-language-translator-item__tip {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
  }

  .instant-apps-language-translator-item__info-icon {
    color: var(--calcite-color-brand);
  }

  .instant-apps-language-translator-item__info-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .instant-apps-language-translator-item__nested-input {
    margin-left: 60px;
    margin-top: 8px;
    calcite-input {
      margin-left: 30px;
    }
  }
}

:host(.calcite-mode-dark) {
  .instant-apps-language-translator-item__section--selected {
    background-color: #f1faff;

    background-color: var(--calcite-color-brand);
    color: var(--calcite-color-text-inverse);
    calcite-action {
      --calcite-ui-icon-color: var(--calcite-color-text-inverse);
    }

    calcite-icon {
      color: var(--calcite-color-text-inverse);
    }
  }
}

:host(.instant-apps-language-translator--last-item) {
  .instant-apps-language-translator-item__section {
    border-bottom: none;
  }
}
