:host {
  display: block;

  .instant-apps-interactive-legend-relationship__instructional-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: #d2e9f9;
  }
}

.calcite-mode-dark {
  :host {
    .instant-apps-interactive-legend-relationship__instructional-text {
      background-color: var(--calcite-ui-brand);
      color: #151515;
    }
  }
}
