/*
* @prop --instant-apps-splash-content-max-height: Set the max height of the content area .
*/

:host {
  --instant-apps-splash-content-max-height: 100%;
  display: block;

  .image.image_resized {
    img {
      width: 100%;
    }
  }

  .instant-apps-splash__back-content {
    display: flex;
    align-items: center;

    calcite-label {
      --calcite-label-margin-bottom: 0;
    }
  }

  .instant-apps-splash__content {
    max-height: var(--instant-apps-splash-content-max-height);
  }
}
