:host {
  width: 300px;
  height: 400px;
  display: block;

  calcite-panel {
    max-width: 300px;
    max-height: 400px;
    display: flex;
  }

  calcite-carousel {
    flex: 1;
    overflow: scroll;
    height: fit-content;
    background-color: var(--calcite-color-foreground-1);
  }

  [slot='header-content'] {
    display: flex;
    gap: 8px;
  }

  calcite-carousel-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  calcite-carousel-item div {
    padding-inline: 0.5rem;
    flex-shrink: 1;
    flex-grow: 0;
  }

  calcite-button {
    position: absolute;
    bottom: 5em;
    left: 0;
  }

  calcite-icon {
    --calcite-ui-icon-color: var(--calcite-color-brand);
  }
}
