:host {
  display: block;


}

.instant-apps-popover__content {
  display: flex;
  flex-direction: column;
  padding: 0 5% 5% 5%;
  max-width: 25vw;
  font-family: Avenir;
  font-size: 14px;
    
  .instant-apps-popover__action {
    align-self: flex-start;
    --calcite-ui-foreground-2: transparent;
  }

  span {
    display: inline-block;
    font-weight: 900;
    color: var(--calcite-ui-text-1);
    margin: 0 0 10px 0;
  }

  p {
    line-height: 19.12px;
    margin: 0;
    margin-bottom: 10px;
  }

  .instant-apps-popover__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 14px;
    }

    calcite-button:first-child {
      --calcite-ui-foreground-3: transparent;
    }

    calcite-button:last-child {
      margin-left: 5px;
    }
  }
}

.instant-apps-popover__content.instant-apps-popover--action-disabled {

    padding: 5%;

    #subtitle {
      margin: 0 0 10px 0;
    }
  }

