:host {
  display: block;
}

.instant-apps-popover__content {
  padding: 2.5%;
  padding-top: 0;
  max-width: 25vw;

  .instant-apps-popover__button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    calcite-button:last-child {
      margin-left: 5px;
    }
  }

  
}
