$borderColor: var(--calcite-ui-border-1);
$boxShadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

:host {
  display: block;
  --instant-apps-scoreboard-background-color: var(--calcite-ui-foreground-1);
  --instant-apps-scoreboard-text-color: var(--calcite-ui-text-1);
  background-color: var(--instant-apps-scoreboard-background-color);
  color: var(--instant-apps-scoreboard-text-color);
  .instant-apps-scoreboard {
    box-sizing: border-box;
    padding: 1.75%;
    border: 1px solid $borderColor;
    box-shadow: $boxShadow;
    border-radius: 3px;

    calcite-loader {
      --calcite-loader-padding: 0;
    }

    &__items,
    &__item {
      box-sizing: border-box;
      display: flex;
    }

    &__items {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      width: 100%;
    }

    &__item {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 1%;

      &-label {
        box-sizing: border-box;
        line-height: 24px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        word-break: break-word;
      }

      &-label {
        font-size: 1rem;
        font-weight: 400;
      }

      &-value {
        display: inline-block;
        min-width: 43px;
        min-height: 29px;
        font-size: 1.5rem;
        font-weight: 900;
      }
    }
  }
}

:host(.instant-apps-scoreboard__position--bottom) {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -15px);
  .instant-apps-scoreboard {
    display: flex;
    justify-content: center;
    min-width: 25vw;
    &__items {
      display: flex;
      justify-content: center;
    }

    &__item {
      min-width: 10vw;
      // width: 16.67%;
      vertical-align: top;
    }
  }
}

:host(.instant-apps-scoreboard__position--side) {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  .instant-apps-scoreboard {
    display: flex;
    align-items: center;
    min-height: 25vh;
    width: 10vw;
    &__items {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-top: 2.5vh;
      margin-bottom: 2.5vh;
    }
  }
}

:host(.instant-apps-scoreboard__position--left) {
  left: 15px;
}

:host(.instant-apps-scoreboard__position--right) {
  left: unset;
  right: 15px;
}
