/**
* @prop --instant-apps-export-action-background: Popup's trigger button's background color.
* @prop --instant-apps-export-action-background-hover: Popup's trigger button's background color on hover.
* @prop --instant-apps-export-action-background-press: Popup's trigger button's background color on press.
* @prop --instant-apps-export-action-width: Popup's trigger button's width.
* @prop  --instant-apps-export-action-icon-color: Popup's trigger button's icon color.
* @prop --instant-apps-export-action-icon-hover-color: Popup's trigger button's icon color when hovered over.
* @prop --instant-apps-export-background: Export's container background color.
* @prop --instant-apps-export-text-color: Export's container text color.
* @prop --instant-apps-export-popover-width: Export's popover container width.
*/

:host {
  display: block;
  --instant-apps-export-action-background: var(--calcite-ui-foreground-1);
  --instant-apps-export-action-background-hover: var(--calcite-ui-foreground-2);
  --instant-apps-export-action-background-press: var(--calcite-ui-foreground-3);
  --instant-apps-export-action-width: fit-content;
  --instant-apps-export-action-icon-color: var(--calcite-ui-text-3);
  --instant-apps-export-action-icon-hover-color: var(--calcite-ui-text-1);
  --instant-apps-export-background: var(--calcite-ui-foreground-1);
  --instant-apps-export-text-color: var(--calcite-ui-text-1);
  --instant-apps-export-popover-width: 250px;
}

.instant-apps-export {
  * {
    box-sizing: border-box;
  }

  &__popover-container,
  &__inline-container {
    padding: 12px;
    background: var(--instant-apps-export-background);
    --calcite-ui-text-1: var(--instant-apps-export-text-color);
  }

  &__popover-container {
    width: var(--instant-apps-export-popover-width);
  }

  calcite-action {
    --calcite-ui-foreground-1: var(--instant-apps-export-action-background);
    --calcite-ui-foreground-2: var(--instant-apps-export-action-background-hover);
    --calcite-ui-foreground-3: var(--instant-apps-export-action-background-press);
    width: var(--instant-apps-export-action-width);
    --calcite-ui-text-3: var(--instant-apps-export-action-icon-color);
    --calcite-ui-text-1: var(--instant-apps-export-action-icon-hover-color);
  }

  .instant-apps-export-print {
    display: none;
  }

  &__visually-hidden {
    position: absolute;
    top: 0;
    z-index: -1;
    visibility: hidden;
  }

  calcite-input {
    --calcite-ui-foreground-1: var(--instant-apps-export-background);
    --calcite-ui-text-1: var(--instant-apps-export-text-color);
  }

  calcite-popover {
    --calcite-ui-foreground-1: var(--instant-apps-export-background);
  }

  calcite-switch {
    --calcite-ui-foreground-1: #fff;
    --calcite-ui-foreground-2: #f3f3f3;
  }

  .calcite-mode-dark calcite-switch {
    --calcite-ui-foreground-1: #2b2b2b;
    --calcite-ui-foreground-2: #202020;
  }
}

.instant-apps-export__compass-container.esri-widget {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  .esri-compass__icon.esri-icon-compass {
    color: #6e6e6e;
  }
}
