$minWidth: 200px;

:host {
  display: block;
  background-color: var(--calcite-color-foreground-1);
  color: var(--calcite-color-text-1);
  min-width: $minWidth;

  calcite-dropdown {
    width: 100%;
  }

  calcite-button {
    --calcite-color-brand: var(--calcite-color-text-3);
    --calcite-color-brand-hover: var(--calcite-color-text-3);
  }
}
