$minWidth: 200px;

:host {
  display: block;
  background-color: var(--calcite-ui-foreground-1);
  color: var(--calcite-ui-text-1);
  min-width: $minWidth;

  calcite-dropdown {
    width: 100%;
  }

  calcite-button {
    --calcite-ui-brand: var(--calcite-ui-text-3);
    --calcite-ui-brand-hover: var(--calcite-ui-text-3);
  }
}
