:host {
  /**
  * @prop --instant-apps-sign-in-indicator-color: Color of the indicator that shows in a signed in user's avatar.
  */
  --instant-apps-sign-in-indicator-color: #007ac2;

  display: block;
  box-shadow: none !important;

  .instant-apps-sign-in__container {
    height: inherit;
    display: flex;
    align-items: center;

    calcite-dropdown,
    calcite-navigation-user {
      height: 100%;
    }

    calcite-navigation-user {
      --calcite-color-foreground-2: rgba(0, 0, 0, 0.04);
      --calcite-color-foreground-3: rgba(0, 0, 0, 0.04);
    }

    .instant-apps-sign-in__indicator::after {
      content: '';
      position: absolute;
      block-size: 0.5rem;
      inline-size: 0.5rem;
      border-radius: 9999px;
      inset-block-end: -0.275rem;
      inset-inline-end: -0.275rem;
      background-color: var(--instant-apps-sign-in-indicator-color);
      bottom: calc(50% - 15px);
      right: calc(50% - 15px);
    }

    .instant-apps-sign-in__sign-in-btn {
      margin: 10px;
    }

    calcite-dropdown[scale='m'] calcite-dropdown-group {
      min-width: 140px;
    }

    calcite-dropdown[scale='s'] calcite-dropdown-group {
      min-width: 100px;
    }

    button {
      height: 32px;
      width: 32px;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      text-decoration-line: none;
      transition:
        color var(--calcite-animation-timing) ease-in-out,
        background-color var(--calcite-animation-timing) ease-in-out,
        box-shadow var(--calcite-animation-timing) ease-in-out,
        outline-color var(--calcite-internal-animation-timing-fast) ease-in-out;
      border: none;
      border-radius: 50%;
      background: #000;
    }

    button:hover calcite-avatar {
      opacity: 0.7;
      transition: 0.3s;
    }
  }

  .instant-apps-sign-in__landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 50%;
    min-height: 30%;
    background: rgba(255, 255, 255, 0.8);
    color: #151515;
    text-align: center;

    h1 {
      font-size: 22px;
      margin: 10px 0;
    }

    h2 {
      font-size: 16px;
      margin: 0 0 10px;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .instant-apps-sign-in__entry-button-container {
    display: flex;
    justify-content: center;
  }

  .instant-apps-sign-in__entry-button {
    --calcite-color-brand: var(--instant-apps-landing-page-entry-button-color);
    --calcite-color-brand-hover: var(--instant-apps-landing-page-entry-button-color);
    --calcite-color-brand-press: var(--instant-apps-landing-page-entry-button-color);
    min-width: 165px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;

    calcite-button {
      width: 100%;
    }

    .instant-apps-sign-in__entry-button-container {
      display: flex;
      flex-direction: column;
    }
  }
}
