$calciteBlue: #007ac2;
$hoverLight: #f3f3f3;
$hoverDark: #262626;

:host {
  display: block;

  .instant-apps-social-share {
    &__dialog {
      box-sizing: border-box;
      width: 200px;
      height: auto;
      margin: 10px 0;
    }

    &__options {
      margin: 0;
      padding: 1% 0 0 0;
      list-style-type: none;
      li {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5%;
        font-size: 14px;
        transition: background-color 0.15s ease-out 0s;

        .instant-apps-social-share__icon,
        .instant-apps-social-share__option-text {
          display: inline-block;
        }

        .instant-apps-social-share__icon {
          display: flex;
          align-items: center;
          width: 15%;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        .instant-apps-social-share__option-text {
          width: 85%;
          margin-left: 5px;
          word-break: break-word;
        }
      }

      li:hover {
        cursor: pointer;
        background-color: var(--calcite-ui-foreground-2);
      }
    }

    &__tip {
      box-sizing: border-box;
      padding: 0 5% 1% 5%;
      &-header {
        display: inline-block;
        color: $calciteBlue;
        font-size: 16px;
        margin: 8px 0 5px 0;
      }
      &-content {
        line-height: 17px;
        font-size: 14.5px;
        margin: 0;
      }
    }

    &__icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
