:host {
  display: block;
}

.instant-apps-popover__content {
  display: flex;
  flex-direction: column;
  padding: 0 5% 5% 5%;
  max-width: 35vw;
  font-family: var(--calcite-sans-family);
  font-size: 0.875rem;
    
  .instant-apps-popover__action {
    align-self: flex-start;
    --calcite-ui-foreground-2: transparent;
  }

  span {
    display: inline-block;
    font-weight: var(--calcite-font-weight-medium);
    color: var(--calcite-ui-text-1);
    margin: 0 0 10px 0;
    font-family: var(--calcite-sans-family);
  }

  p {
    line-height: 19.12px;
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--calcite-sans-family);
  }

  .instant-apps-popover__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 0.875rem;
      font-family: var(--calcite-sans-family);
    }

    calcite-button:first-child {
      --calcite-ui-foreground-3: transparent;
    }

    calcite-button:last-child {
      margin-left: 5px;
    }
  }

  .instant-apps-popover__img {
    width: 100%;
    margin-bottom: 10px;
  }
}


.instant-apps-popover__content.instant-apps-popover--action-disabled {
    padding: 5%;
    #subtitle {
      margin: 0 0 10px 0;
    }
  }

