:host {
  display: flex;
    .sc-instant-apps-measurement{
    background:var(--calcite-ui-foreground-1);
    }
    calcite-panel{
      width:100%;
      min-width: 300px;
    }
    .active-tool{
      --calcite-ui-foreground-1:#c7eaff;
    }
  }

