:host {

.instant-apps-keyboard-shortcuts__content {
  display: flex;
  flex-direction: column;
  font-family: var(--calcite-sans-family);
  font-size: 0.875rem;
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);
  width: auto;
  max-height: 400px;
  padding: 0.5em;
  margin-bottom: 0;
  overflow:auto;
  
  table{
    border:none;
    border-collapse: collapse;
    width:100%;
    margin-bottom:1em;
  }
  table td, table th{
    border:solid 1px var(--calcite-ui-border-1);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
   tr:nth-child(even){
   background-color:var(--calcite-ui-foreground-2);
  }

  tr th{
    padding:0.5em 0.7em;
    font-weight: 400;
  }
}

}
